
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  background-color: black;
  color: white;
  align-content: center;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

thead th, tfoot th {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


thead {
  padding: 20px;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  background-color: black;
  color: white;
}

td {
  padding: 20px;
  letter-spacing: 1px;;
  border-bottom: 1px solid black;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

tr:hover {
  background-color: #ffffe0;
  cursor: pointer;
}

.three-dot-menu ul {
  opacity: 0;
}

.three-dot-menu button {
  border-radius: 100%;
}

.three-dot-menu button:focus + ul {
  opacity: 1;
}

.filters {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;

}

.form {
  padding: 10px;
}

.gray-entry {
  background-color: red;
}

.grid {
  display: grid;
  grid-template-columns: .5fr 3fr;
  grid-auto-rows: 80px 500px;
}

.one {
  grid-column: 1 / 5;
  grid-row: 1;
  border-bottom: 2px solid black;
}

.options {
  opacity: 0;
  background-color: teal;
}

.two {
  grid-column: 1;
  grid-row: 2 / 4;
  border-right: 2px solid black;
}

.three {
  grid-column: 2;
  grid-row: 2 / 4;
}

.title {
  background-color: black;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 20px;
}