
button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  font-weight: 700;
  background-color: black;
  color: white;
  align-content: center;
}

input {
  height: 30px;
  width: 240px;
  border-radius: 3px;
  border:1px solid #ccc;
}

input, input[placeholder] {
  /* text-align: center; */
  font-size: 13px;
  padding-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filters select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 30px;
  width: 150px;
  margin-top: 4px;
}

.form select {
  height: 30px;
  width: 250px;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 20px;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid black;
}

thead th, tfoot th {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


thead {
  padding: 20px;
  letter-spacing: 2px;
  border-bottom: 2px solid black;
  color: white;
  background-color: black;
}

td {
  padding: 20px;
  letter-spacing: 1px;;
  border-bottom: 1px solid black;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

tr:hover {
  background-color: #ffffe0;
  cursor: pointer;
}

.entries {
  font-family: 'Times New Roman', Times, serif;
}

.filters {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.form {
  padding: 10px;
}

.form-title {
  border-bottom: 3px solid black;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-bottom: 2px;
}

.gray-entry {
  background-color: red;
}

.grid {
  display: grid;
  grid-template-columns: .5fr 3fr;
  grid-auto-rows: 80px 500px;
}

.input-search {
  margin: auto;
}

.one {
  grid-column: 1 / 5;
  grid-row: 1;
  padding-top: 25px;
  margin-bottom: 20px;
}

.new-entry-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 15px;
  float: left;
  margin-right: 320px;
  margin-left: 80px;
  margin-bottom: 50px;
}

.new-entry-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.new-entry-form {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  height: 70%;
  border-radius: 5px;
  text-align: center;
}

.two {
  grid-column: 1;
  grid-row: 2 / 4;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.three {
  grid-column: 2;
  grid-row: 2 / 4;
}

.title {
  /* background-color: black;
  color:white; */
  border-bottom: 2px solid black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  text-align: left;
  padding: 5px;
  padding-left: 10px;
  /* margin-left:10px; */
}

.hover-class .run,
.hover-class:hover .test {
  display: none;
}

.hover-class:hover .run {
  display: inline
}

.test {
  color: white
}

.run button {
  background-color: white;
  padding: 0;
  border: none;
}

