
/* ----------- */

a {
  color: gray;
  text-decoration: underline;
  text-decoration-color: gray;
}

button {
  margin: 5px;
  padding: 10px;
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  background-color: #92AAD1;
  color: white;
  align-content: center;
  cursor: pointer;
}

input {
  height: 33px;
  width: 220px;
  border-radius: 4px;
  border:1px solid white;
  background-color: #F1F1F1;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  padding-left: 10px;
}

input[type="file"] {
  display: none;
}

input[placeholder] {
  text-align: center;
  padding-right: 25px;
}

option {
  text-align: center;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}



table {
  border-collapse: collapse;
  border-right: 1px solid #E9E9E9;
  width: 100%;
}

th {
  font-size: 17px;
}

td {
  letter-spacing: 1px;;
  border-bottom: 1px solid #E9E9E9;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  vertical-align: middle;
}

/* commenting out the 'tr:hover' b/c I added
padding to the icons elements so that they
were aligned with text - and since the padding
is white, it looked unacceptable; I'd like to
find an actual fix for the misaligned iconss
*/
tr:hover {
  box-shadow: 0.1em 0.1em 0.1em 0.15em #EEEEEE;
}

/* commenting out this filter on hover b/c
the button that is currently selected will
still darken as if the user can click on
the button - this is obviously confusing
/* #add-one-button:hover, #upload-button:hover {
  filter: brightness(90%);
} */

/* #add-one-entry input[placeholder] {
  padding-right: 12px;
  width: 245px;
} */

/* #add-one-entry input {
  text-align: center;
} */

/* input::-webkit-input-placeholder {
  text-align: center;
}
input:-moz-placeholder {
  text-align: center;
}
input::-moz-placeholder {
  text-align: center;
}
input:-ms-input-placeholder {
  text-align: center;
} */


#album-edit {
  text-align: left;
}

#band-edit {
  text-align: left;
}

#form-action-button {
  margin-right: 25px;
}

#instrumental-edit {
  padding-top: 15px;
}

#rating-edit {
  padding-top: 15px;
}

#upload-button {
  background-color: #92AAD1;
  opacity: 45%;
}

#upload-cancel-button {
  margin-left: -5px;
}

.band-album-input input[placeholder] {
  padding-left: -30px;
}

.clear-button {
  display: grid;
  align-items: center;
  justify-items: center;
}

.clear-button button {
  color: #92AAD1;
  transition: 0.3s;
  outline-color: #92AAD1;
  border: 2px solid #92AAD1;
  background-color: white;
  width: 80px;
}

.clear-button button:hover {
  transition: 0.3s;
  background-color: #92AAD1;
  color: white
}

.columns-icons {
  width: 8%;
}

.column-slim {
  width: 10%;
}

.column-wide {
  width: 20%;
  text-align: left;
}

.confirm-delete-form {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #888;
  border-radius: 3px;
  width: 35%;
  height: 20%;
  text-align: center;
}

.confirm-delete-popup {
  display: none;
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  padding: 100px;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.custom-file-upload {
  display: inline-block;
  width: 210px;
  height: 30px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: #F4F4F4;
  padding-top: 10px;
  cursor: pointer;
}

.edit-delete-form {
  border-top: 1px solid lightgray;
}

.edit-entry-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

tr .entries:hover {
  background-color: #FFF4F4;
  cursor: pointer;
}

.entries {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  height: 70px;
}

.filters {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: gray;
  letter-spacing: 0.04em;
}


.filters select {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-align-last: center;
  height: 35px;
  width: 150px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: #F4F4F4;
}

.style-select select{
  display: none;
}

.style-select {
  position: relative;
  background-color: green;
}

.form {
  padding: 10px;
}

.form select {
  height: 35px;
  width: 255px;
  /* font-size: 13px; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-right: 20px;
  color: gray;
  background-color: #F1F1F1;
  border: 1px solid white;
  border-radius: 3px;
  text-align-last: center;
}

.form-title {
  border-radius: 1px;
  color: gray;
  font-weight: 600;
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  letter-spacing: 0.03em;
}

.grid {
  display: grid;
  grid-template-columns: .5fr 3fr;
  grid-auto-rows: 80px 200px;
}

.grid-filters {
  grid-column: 1;
  grid-row: 2 / 5;
  border-top: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
}

.grid-list {
  grid-column: 2;
  grid-row: 2 / 4;
}

.grid-new-button {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  align-items: center;
  justify-items: center;
 }

 .grid-search {
  grid-column: 2 / 5;
  grid-row: 1;
  display: grid;
  align-items: center;
  justify-items: center;
  margin-right: 80px;
}

tr:hover .icons {
  display: inline-block;
  vertical-align: middle;
}

.icons {
  display: none;
}

img {
  vertical-align: middle;
  padding-bottom: 18px;
}

.input-search input {
  display: block;
  float: left;
  height: 45px;
  width: 350px;
  font-size: 14px;
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 1px solid white;
  border-radius: 3px;
  padding-left: 10px;
  background-color: #F4F4F4;
  background-image: url('./search-icon.png');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
}


.input-search input:focus {
  background-image: none;

}

.new-entry-btn {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 15px;
  background-color: #92AAD1;
  border: 1px solid lightgray;
  transition: 0.3s;
}

button:hover {
  background-color: #607EB2 ;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.new-entry-form {
  background-color: #fefefe;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  margin: auto;
  border-top: 10px solid #92AAD1;
  border-radius: 4px;
  width: 32%;
  height: 82%;
  text-align: center;
}

.new-entry-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.new-add-popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 75px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.7);
}

.new-add-form {
  background-color: #fefefe;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  margin: auto;
  border-top: 10px solid #92AAD1;
  border-radius: 4px;
  width: 32%;
  height: 22%;
  text-align: center;
}




.icons button {
  background-color: white;
  padding: 0;
  border: none;
}

.sign-out-button {
  height: 25px;
  width: 75px;
  margin: 0;
  padding: 0
}


.tab-content-manual {
  display: block;
}

.tab-content-upload {
  display: none;
  margin-top: 10px;
}

.tabs-new-entry-links {
  overflow: hidden;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

.tabs-new-entry-links button {
  background-color: red;
}

.tabs-new-entry-links button {
  background-color: #92AAD1;
  border-radius: 0px;
  transition: 0.3s;
  margin: 0;
  width: 33%
}

.table-container {
  overflow-y: auto;
  height: 650px;
  border-radius: 4px;
}

 .table-container th {
  height: 60px;
  position: sticky;
  top: -1px;
  background-color: #92AAD1;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.icons-container {
  color: white;
}

.tip-upload-csv {
  position: relative;
  display: inline;
}

.tip-upload-csv .tip-upload-csv-question {
  visibility: hidden;
  position: absolute;
  top: 35px;
  left: -110px;
  width: 325px;
  height: 260px;
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding-left: 40%;
  padding-top: 7%;
  border-radius: 4px;
  background-color: #92AAD1;
  color: white;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tip-upload-csv-title {
  padding-left: -24px;
  font-size: 15px;
  margin-bottom: 5px;
}

.tip-upload-csv-items {
  margin-top: 3px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tip-upload-csv:hover .tip-upload-csv-question {
 visibility: visible;
 opacity: 1;
}

.title {
  border-bottom: 1px solid lightgray;
  font-family: Rockwell;
  font-weight: 800;
  text-align: left;
  letter-spacing: 0.03em;
  padding-left: 65px;
  padding-bottom: 10px;
  color:gray;
}

.username {
  position: absolute;
  right: 2%;
  font-weight: 400;
}


/* ---------------- easydropdown flax.css template ------------------------ */
@import '//fonts.googleapis.com/css?family=Roboto:300,400"';

.edd-root,
.edd-root *,
.edd-root *::before,
.edd-root *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.edd-root {
    display: inline-block;
    position: relative;
    width: 180px;
    user-select: none;
    font-family: 'Roboto', arial, helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #333;
}

.edd-root-disabled {
    color: #ccc;
    cursor: not-allowed;
}

.edd-root::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background: #92AAD1;
    transition: transform 150ms ease-out;
    transform: scaleX(0);
}

.edd-root.edd-root-focused::after,
.edd-root.edd-root-invalid::after {
    transform: scaleX(1);
}

.edd-root.edd-root-invalid::after {
    background: rgb(255, 105, 105);
}

.edd-head {
    position: relative;
    overflow: hidden;
    /* border-bottom: 1px solid #ddd; */
    transition: border-color 200ms;
}

/* .edd-root:not(.edd-root-disabled) .edd-head:hover {
    border-bottom-color: #aaa;
} */

.edd-value {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0 8px 0;
    background-color: #F4F4F4;;
}

.edd-arrow {
    position: absolute;
    width: 14px;
    height: 10px;
    top: calc(50% - 5px);
    right: 3px;
    transition: transform 150ms;
    pointer-events: none;
    color: #666;
}

.edd-root-disabled .edd-arrow {
    color: #ccc;
}

.edd-arrow::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-right: 2px solid currentColor;
    border-bottom: 2px solid currentColor;
    top: 0;
    right: 2px;
    transform: rotate(45deg);
    transform-origin: 50% 25%;
}

/* .edd-root-open .edd-arrow {
    transform: rotate(180deg);
} */

.edd-value,
.edd-option,
.edd-group-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.edd-root:not(.edd-root-disabled) .edd-value,
.edd-option {
    cursor: pointer;
}

.edd-select {
    position: absolute;
    opacity: 0;
    width: 100%;
    left: -100%;
    top: 0;
}

.edd-root-native .edd-select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.edd-body {
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 999;
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.08);
    border: 1px solid #eee;
    border-top: 0;
    border-right: 0;
}

.edd-root-open .edd-body {
    opacity: 1;
    pointer-events: all;
    transform: scale(1);
    transition: opacity 200ms, transform 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.edd-root-open-above .edd-body {
    bottom: 100%;
}

.edd-root-open-below .edd-body {
    top: 100%;
}

.edd-items-list {
    overflow: auto;
    max-height: 0;
    transition: max-height 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-overflow-scrolling: touch;
}

.edd-items-list::-webkit-scrollbar {
    width: 12px;
}

.edd-items-list::-webkit-scrollbar-track {
    background: #efefef;
}

.edd-items-list::-webkit-scrollbar-thumb {
    background: #ccc;
}

.edd-group-label {
    font-size: 13px;
    padding: 4px 8px 4px 0;
    color: #555;
    font-weight: 600;
}

.edd-group-has-label {
    padding-left: 22px;
}

.edd-option {
    position: relative;
    padding: 4px 8px 4px 6px;
}

#add-mood-button   {
  background-color: green;
}

.edd-option-selected {
    font-weight: 400;
}

.edd-option-selected::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    border-bottom: 2px solid #92AAD1;
    border-left: 2px solid #92AAD1;
    left: 6px;
    top: calc(50% - 4px);
    transform: rotate(-45deg);
}

.edd-option-focused:not(.edd-option-disabled) {
    /* color: #92AAD1; */
    background-color: #F1F1F1;
  }


.edd-option-disabled,
.edd-group-disabled .edd-option {
    cursor: default;
    color: #ccc;
}

.edd-gradient-top,
.edd-gradient-bottom {
    content: '';
    position: absolute;
    left: 2px;
    right: 12px;
    height: 32px;
    background-image:
        linear-gradient(
            0deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 40%,
            rgba(255, 255, 255, 1) 60%,
            rgba(255, 255, 255, 0) 100%
        );
    background-repeat: repeat-x;
    background-size: 100% 200%;
    pointer-events: none;
    transition: opacity 100ms;
    opacity: 0;
}

.edd-gradient-top {
    background-position: bottom;
    top: 0;
}

.edd-gradient-bottom {
    background-position: top;
    bottom: 0;
}

.edd-body-scrollable .edd-gradient-top,
.edd-body-scrollable .edd-gradient-bottom {
    opacity: 1;
}

.edd-body-scrollable.edd-body-at-top .edd-gradient-top,
.edd-body-scrollable.edd-body-at-bottom .edd-gradient-bottom {
    opacity: 0;
}

